include .editorconfig
include .gitignore
include LICENSE
include MANIFEST.in
include pyproject.toml
include README.rst
include requirements-dev.txt
include requirements.txt
graft {{cookiecutter.__project_slug}}
graft tests
global-exclude *.py[cod]
