include .editorconfig
include .gitattributes
include .gitignore
include .pre-commit-config.yaml
include LICENSE
include Makefile
include MANIFEST.in
include pyproject.toml
include README.rst
recursive-include {{ cookiecutter.__project_slug }} *
recursive-include .github *
recursive-include tests *
recursive-include docs *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
