name: tests

on:
  - push

jobs:
  test:
    strategy:
      matrix:
        include:
          - os: macos-latest
            python-version: "3.10"
            index: 0
          - os: windows-latest
            python-version: "3.10"
            index: 1
          - os: ubuntu-latest
            python-version: "3.10"
            index: 2
          - os: ubuntu-latest
            python-version: "3.14.0-rc.1"
            index: 3
    name: Test on ${{ matrix.os }} (${{ matrix.python-version }})
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup project
        run: |
          git config --global user.name "John DOE"
          git config --global user.email "john.doe@example.com"
          pip install uv
      - name: Test template ${{ matrix.index }}
        run: python3 tests/test_template.py --index ${{ matrix.index }}
